# 99-keyboard-toggle.rules
#
# Disable internal laptop keyboard when external USB keyboard is plugged in.
# Uses kernel 'inhibited' sysfs attribute (works at evdev layer, below X11/Wayland/keyd).
#
# Matches the Telink IQUNIX 2.4GHz USB dongle (vendor 320f, product 5088).
#
# Place this file in /etc/udev/rules.d/ and run:
#   sudo udevadm control --reload
#   sudo udevadm trigger

# When external keyboard is added, disable the internal keyboard
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="320f", ATTRS{idProduct}=="5088", RUN+="/usr/local/sbin/keyboard-toggle disable"

# When external keyboard is removed, re-enable the internal keyboard
ACTION=="remove", SUBSYSTEM=="usb", ATTRS{idVendor}=="320f", ATTRS{idProduct}=="5088", RUN+="/usr/local/sbin/keyboard-toggle enable"